.pr-rcs-w {
    position: relative;
    margin-bottom: 15px;
    .title {
        height: 25px;
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
        color: #333;
        font-family: source_sans_prosemibold, serif;
        -webkit-font-smoothing: antialiased;
    }
    .similar-background{
background-image: none  ;    }
}